.home{
width: 100%;
min-height: 90vh;
/* background-color: ghostwhite; */


}

.updiv{
  width: 100%;
  min-height: 35vh;
  background: #82d523;
}
.home .container{
  margin-top: -80px;
}
.mtt{
  margin-bottom: -2px;
}
.fontsize{
  font-size: 12px;
}
.textb{
  width: 150px;
  height: 40px;
  background: #82d523;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  cursor: pointer;
}

  